body {
	font-family: 'Fauna+One', sans-serif;
	color: yellow;
	background: #420600 url('img/metal-texture.jpg') repeat;
}

a {
	color: #2A0400;
	text-decoration: none;
}

img {
	max-width: 100%;
}

h1 {
	font-family: 'Vibur', serif;
    font-size: 1.750em;
    letter-spacing: -0.09375em;
}

h2 {
	font-family: 'Vibur', serif;
	font-size: 2.5em;
	color: #2A0400;
	text-shadow: 0.1875em 0.1875em 0.1875em #FFCC00;
}

ul.nav {
	font-family: 'Vibur', serif;
	list-style: none;
	clear: both;
	overflow: hidden;
	width: 100%;
	text-align: center;
	padding: 1% 0 0 0; /*10px*/
	margin: 7% 0 0 0; /*70px*/
}

ul.nav li {
	float: left;
	width: 24%; /*240px*/
	margin-right: auto;
	margin-left: auto;
	padding-top: 4.16%; /*10px*/
	border: 0.25em double #FFCC99;
	border-radius: 1.25em;
}

ul.nav li a {
	color: yellow;
	font-size: 1.750em;
	text-shadow: 0.1875em 0.1875em 0.1875em #2A0400;
}

ul.nav img {
	width: 20.83%; /*50px*/
	height: auto;
	float: left;
}

ul.nav li:hover {
	margin-top: -0.5%; /*-5px*/
	border-color: gray;
	border-radius: 2.5em;
	background: #FFCC00;
}

ul.nav li a:hover {
	color: gray;
}

#me {
	border-top: 0.3125em dotted white;
	border-bottom: 0.3125em dotted white;
}


#intro {
	color: #FFCC00;
	text-shadow: 0.1875em 0.1875em 0.1875em #2A0400;
}

#quirk img {
	border: 0.3125em dotted white;
	margin-top: 8%; /*80px*/
	width: 91.83%; /*450px*/
	height: auto;
}

#love img {
	border: 0.3125em dotted white;
	width: 91.83%; /*450px*/
	height: auto;
}

#copyright {
	color: yellow;
	border-top: 0.25em #FFCC99;
	border-top-style: double;
	padding: 1% 0; /*10px*/
	margin: 1.5% 0; /*15px*/
	text-align: center;
}

.grid_12 {
	text-align: center;
}

.btn {
	font-family: 'Vibur', serif;
	font-size: 2em;
	text-shadow: 0.0625em 0.0625em 0.0625em #FFCC00;
	background: gray;
	padding: 1.5% 1.5% 1.5% 1.5%; /*15px*/
	border-top: 0.1875em dotted yellow;
	border-bottom: 0.1875em dotted yellow;
	border-radius: 2.5em;
}

.btn:hover {
	background: #2A0400;
	color: yellow;
	text-shadow: 0.3125em 0.3125em 0.3125em #FFCC00;
	margin-right: 5%; /*50px*/
	border: none;
	border-radius: 1.25em;
}